body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  display: flex;
}

.sidebar {
  width: 250px;
  background: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.sidebar h2 {
  font-size: 24px;
  text-align: center;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #fdd835;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #fff;
}

.content h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  margin-top: 20px;
}

input[type="text"], input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fdd835;
}

button:active {
  transform: translateY(2px);
}

@media (max-width: 768px) {
  body {
      flex-direction: column;
  }

  .sidebar {
      width: 100%;
      height: auto;
  }

  .content {
      margin-left: 0;
  }
}
