* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Notification System*/

#notification {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px rgba(240, 240, 240, 0.65) solid;
  color: rgb(240, 240, 240);
  padding: 15px;
  border-radius: 5px;
  filter: opacity(0%);
  transition: 0.2s all ease;
  z-index: 100;
}

#notification.show {
  filter: opacity(100%);
  transform: translateX(-50%) scale(1.1);
}

#notification.hidden {
  filter: opacity(0%);
  transform: translateX(-50%) scale(0.9);
}

/* BG VIDEO */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  filter: brightness(150%) opacity(85%) drop-shadow(1px 1px 20px rgb(70, 42, 0));
}

/* SHOPPING CART */

.add-btn {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  color: black;
  background: transparent;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  transition: 0.2s all ease;
}

.add-btn:hover {
  color: white;
}

.shopping-cart {
  display: flex;
  align-items: center;
  flex-flow: column;
  border: 1px inset black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  height: 390px;
  width: 350px;
  overflow: auto;
  backdrop-filter: blur(1.25px) opacity(90%) brightness(90%);
}

.item {
  list-style-type: none;
  padding: 0;
  color: rgb(240, 240, 240);
  display: flex;
  flex-flow: row;
  /* gap: 12px; */
  justify-content: space-between;
  margin: 7px;

  font-family: 'Courier New', monospace;
  font-weight: 600;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  width: calc(100% - 14px);
}

.item-name {
  color: rgb(240, 240, 240);
}

.item-price {
  font-style: italic;
  color: rgb(240, 240, 240);
}

.delete-item {
  cursor: pointer;
  transition: 0.3s all ease;
  color: rgb(240, 240, 240);
}

.delete-item:hover {
  color: black;
}

.order-button {
  filter: opacity(0.75);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  color: white;
  border-radius: 5px;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  transition: 0.3s all ease;
  margin-top: 5px;
}

.order-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  filter: opacity(1);
  border-style: dashed;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(234, 211, 195);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#mode {
  align-self: center;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  position: sticky;
  top: 10px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  margin-right: 7px;
}

#modebutton {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  transform: scale(-1, -1);
  transform: rotate(90deg);
}

.signbutton {
  position: absolute;
  top: 6.15%;
  left: 56%;
  transform: translate(6.15%, 56%);

  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

  transition: filter 0.5s ease, transform 0.2s ease;

  cursor: pointer;

  z-index: 100;
}

.loginbutton {
  position: absolute;
  top: 6%;
  left: 61%;
  transform: translate(6%, 61%);

  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;

  transition: filter 0.5s ease, transform 0.2s ease;

  cursor: pointer;

  z-index: 100;
}

.hidebutton {
  filter: opacity(0%);
}

.signbutton.rm-open {
  opacity: 0;
}

.email {
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  color: rgb(240, 240, 240);
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  /* margin-bottom: 20px; */
}

.rm-container {
  width: 33%;
  height: 650px;
  max-width: 450px;
  margin: 0 auto 40px auto;
  position: relative;
  -webkit-perspective: 1600px;
  perspective: 1600px;
  color: white;
  margin-top: 55px;
  /* left: 150px; */

  transition: 0.4s all cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.rm-container.rm-open {
  transform: translateX(200px) rotate(1deg);
}

.rm-container.rm-open2 {
  transform: translateX(425px) rotate(1deg);
}

.rm-wrapper,
.rm-wrapper > div {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.rm-wrapper .rm-cover {
  z-index: 100;
  -webkit-transform-origin: 0% 50%;
  -webkit-transition-delay: 0.2s;
  transform-origin: 0% 50%;
  transition-delay: 0.2s;
  border-radius: 20px;
}

.rm-wrapper .rm-middle {
  z-index: 50;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.rm-wrapper .rm-right {
  z-index: 60;
  -webkit-transform-origin: 100% 50%;
  -webkit-transition-delay: 0s;
  transform-origin: 100% 50%;
  transition-delay: 0s;
}

.rm-wrapper .rm-middle {
  transform-origin: 0 50%;
  z-index: 90;
}

.rm-container.rm-open2 .rm-middle {
  /* z-index: 100; */
  /* backface-visibility: hidden; */
}

.rm-wrapper .rm-middle,
.rm-wrapper .rm-right {
  pointer-events: none;
}

.rm-wrapper > div > div {
  /* background: #fff url(../images/white_paperboard.jpg); */

  /* background-color: rgb(164, 255, 255); */
  background-image: url(/visuals/leather_texture.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;

  /* filter: drop-shadow(inset 0 0 5rem); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  /* background-size: cover; */
  width: 450px;
  height: 100%;
  position: absolute;
  padding: 30px;

  /* border: 1px solid black; */

  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.75);
  /* inset 0 0 0 17px #e6b741, 
		inset 0 0 0 18px #fff, 
		inset 0 0 0 19px #e6b741, 
		inset 0 0 0 20px #fff, 
		inset 0 0 0 21px #e6b741; */

  /* outline: 5px solid rgba(168, 43, 43, 0);
	border: 5px dashed black; */

  outline: 3px dashed rgba(59, 35, 11, 0.6);
  outline-offset: -15px;

  border-radius: 5px;

  overflow: hidden;
}

.rm-container .rm-front,
.rm-container .rm-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .rm-front {
	position: relative;
} */

.options {
  /* position: absolute;
	width: 100%;
	height: 50px;
	bottom: 10px;
	left: 0; */
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

.login {
  filter: opacity(0.75);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  color: white;
  border-radius: 5px;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  transition: 0.3s all ease;
}

.login:hover {
  background-color: rgba(255, 255, 255, 0.15);
  filter: opacity(1);
  border-style: dashed;
}

.darkmode {
  filter: opacity(0.75);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  color: white;
  border-radius: 5px;
  border: 1px white solid;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  transition: 0.3s all ease;
}

.darkmode:hover {
  background-color: rgba(255, 255, 255, 0.15);
  filter: opacity(1);
  border-style: dashed;
}

.rm-container .rm-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.rm-container .rm-end {
  /* z-index: 9999 !important;  */
}

.rm-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.05))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.rm-middle .rm-overlay {
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(64%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.05))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.05) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.rm-content {
  padding: 20px;
}

.rm-logo,
.rm-content h2,
.rm-content h4,
a.rm-button-open,
a.rm-button-open2,
.rm-modal h5 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Arvo', Arial, sans-serif;
}

.rm-logo {
  width: 125px;
  height: 125px;
  background: url(/visuals/chefit.png) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  margin: 10px auto;
  filter: brightness(1) contrast(80%) drop-shadow(0px 1px 2px rgb(39, 20, 0));
  /* box-shadow: 
		0 0 0 3px #fff, 
		0 0 0 4px #e6b741, 
		0 0 0 5px #fff, 
		0 0 0 6px #e6b741, 
		0 0 0 7px #fff, 
		0 0 0 8px #e6b741; */
}

.rm-content h2 {
  letter-spacing: 2px;
  font-size: 36px;

  font-family: 'Lucida Handwriting', cursive, serif;

  /* text-shadow: 1px 1px 0 #fff, 3px 3px 0 #e6b741; */

  /* content: ''; 
	color: transparent; 
	-webkit-background-clip: text; 
	text-shadow: 1px 2px 2px  
                rgba(145, 30, 30, 0.3); */

  font-size: 3em;
  text-transform: uppercase;
  color: transparent;
  background: rgba(21, 21, 21, 0.852);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: -4px 8px 7px rgba(162, 101, 51, 0.352);
}

.rm-content h3 {
  font-family: 'Lucida Handwriting', cursive, serif;

  font-size: 15px;
  margin: 40px 0;
  padding: 20px 40px;
  color: #e9e9e9;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  font-weight: 800;
  /* border-top: 4px double #323b4c; */
  text-transform: uppercase;
  line-height: 20px;
  /* text-shadow: 1px 1px 0 rgba(255,255,255,0.8); */
}

.rm-content h4 {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-style: italic;
  font-family: 'Lucida Handwriting', cursive, serif;
  padding-bottom: 10px;
  color: #e9e9e9;
  /* border-bottom: 4px double #323b4c; */
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  letter-spacing: 2px;
}

.rm-content h4:not(:first-child) {
  margin-top: 35px;
}

a.rm-button-open {
  font-family: 'Lucida Handwriting', cursive, serif;
  color: rgb(21, 21, 21);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  font-size: 16px;
  line-height: 45px;
  margin: 10px auto;
  display: block;
  letter-spacing: 7px;
  transition: 0.2s all ease;
  font-weight: 500;

  /* text-shadow: 0 1px 0 rgba(255,255,255,0.8); */
}

a.rm-button-open:hover {
  letter-spacing: 4px;
}

a.rm-button-close1 {
  font-family: 'Lucida Handwriting', cursive, serif;
  color: rgb(21, 21, 21);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  font-size: 16px;
  line-height: 45px;
  margin: 10px auto;
  display: block;
  letter-spacing: 7px;
  transition: 0.2s all ease;
  font-weight: 500;
}

a.rm-button-close1:hover {
  letter-spacing: 4px;
}

a.rm-button-open2 {
  font-family: 'Lucida Handwriting', cursive, serif;
  color: rgb(21, 21, 21);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  font-size: 16px;
  line-height: 45px;
  margin: 10px auto;
  display: block;
  letter-spacing: 7px;
  transition: 0.2s all ease;
  font-weight: 500;
}

a.rm-button-open2:hover {
  letter-spacing: 4px;
}

a.rm-button-close2 {
  font-family: 'Lucida Handwriting', cursive, serif;
  color: rgb(21, 21, 21);
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  font-size: 16px;
  line-height: 45px;
  margin: 10px auto;
  display: block;
  letter-spacing: 7px;
  transition: 0.2s all ease;
  font-weight: 500;
  text-transform: uppercase;
}

a.rm-button-close2:hover {
  letter-spacing: 4px;
}

.rm-info p {
  line-height: 20px;
  letter-spacing: 2px;
  font-family: 'Lucida Handwriting', cursive, serif;
  color: #e9e9e9;
  font-weight: 800;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
}

.rm-content dl {
  margin: 0;
}

.rm-content dl dt,
.rm-content dl dd {
  display: block;
  margin: 0;
}

.rm-content dl dt {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(240, 240, 240);
  font-family: 'Courier New', monospace;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
}

.rm-content dl dd {
  font-size: 13px;
  padding: 4px 5px 15px;
  line-height: 15px;
  color: black;
  text-shadow: 1px 1px 0 rgba(59, 35, 11, 0.5);
  font-style: italic;
}

.rm-order p {
  padding: 10px;
  background: rgba(213, 193, 154, 0.2);
  margin: 20px 0 0;
}

a.rm-viewdetails:before {
  font-family: 'entypo-selected';
  content: '\56';
  font-style: normal;
  font-weight: normal;
  /* speak: none; */
  display: inline-block;
  text-decoration: inherit;
  width: 15px;
  margin-right: 4px;
  text-align: center;
  opacity: 0.7;
  line-height: 16px;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.rm-modal {
  position: absolute;
  z-index: 10000;
  width: 120%;
  margin-left: -10%;
  top: 50%;
  padding: 40px;
  /* background: #fff url(../images/white_paperboard.jpg); */
  box-shadow: inset 0 0 0 16px #fff, inset 0 0 0 17px #e6b741,
    inset 0 0 0 18px #fff, inset 0 0 0 19px #e6b741, inset 0 0 0 20px #fff,
    inset 0 0 0 21px #e6b741, 0 4px 20px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateZ(1000px);
  transform: translateZ(1000px);
}

.rm-modal h5 {
  margin: 0;
  font-size: 20px;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #e6b741;
}

.rm-modal .rm-thumb {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  margin: 0 20px 0 0;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2),
    1px 1px 1px rgba(255, 255, 255, 0.9);
}

.rm-modal a:after,
.rm-button-open:after {
  /* content: '\2192';
	display: inline-block;
	margin-left: 3px;
	font-family: Arial, sans-serif; */
}

a.rm-viewdetails,
.rm-modal a {
  color: rgb(55, 43, 45);
  font-weight: 500;
}

.rm-modal a {
  float: right;
  clear: both;
}

a.rm-viewdetails:hover,
.rm-modal a:hover {
  color: #000;
}

.rm-close {
  background: #e6b741;
  text-transform: uppercase;
  display: block;
  position: absolute;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  padding: 2px 5px;
  top: -19px;
  opacity: 0;
  right: 30px;
  cursor: pointer;
}

.rm-close-modal {
  cursor: pointer;
  right: 21px;
  top: 21px;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: #2a323f;
  color: white;
  text-align: center;
  line-height: 14px;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

/* Transitions */

.rm-wrapper,
.rm-wrapper > div {
  -webkit-transition: all 0.6s ease-in-out, height 0s;
  transition: all 0.6s ease-in-out, height 0s;
}

.rm-modal {
  -webkit-transition: -webkit-transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.rm-close {
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.rm-container.rm-open .rm-close {
  -webkit-transition: all 0.3s ease-in-out 0.8s;
  transition: all 0.3s ease-in-out 0.8s;
  opacity: 1;
}

.loginbutton.rm-open {
  display: none;
}

.rm-container.rm-open .rm-wrapper > div {
  box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.6);
}

.rm-container.rm-open .rm-cover {
  -webkit-transform: rotateY(-180deg) rotate(1deg);
  -webkit-transition-delay: 0s;
  transform: rotateY(-175deg) scale(1.15) rotate(1deg);
  transition-delay: 0.3s;
}

.rm-container.rm-open .rm-middle,
.rm-container.rm-open .rm-right {
  pointer-events: auto;
  transform: rotateY(-5deg) scale(1.15) rotate(-1deg);
  transition-delay: 0.3s;
}

.rm-container.rm-open2 .rm-cover {
  transform: rotateY(-180deg) rotate(1deg);
  transition-delay: 0.05s;
}

.rm-container.rm-open2 .rm-middle {
  /* transform: scale(1) rotateX(-1deg); */
}

/*edits to close the middle page*/

.rm-container.rm-open2 .rm-middle {
  /* transform-origin: 50% 0; */
  /* background-image: url(leather_text.jpeg); */
  transform: rotateY(-179.9deg) rotate(1deg);
  transition-delay: 0.1s;
  z-index: 100;
  /* transform-style: preserve-3d; */
}

.rm-container.rm-open .rm-right {
  -webkit-transform: rotateY(180deg);
  -webkit-transition-delay: 0.2s;
  transform: rotateY(180deg);
  transition-delay: 0.2s;
}

.rm-container.rm-in .rm-cover {
  -webkit-transform: rotateY(-150deg);
  transform: rotateY(-150deg);
}

.rm-container.rm-in .rm-right {
  -webkit-transform: rotateY(150deg);
  transform: rotateY(150deg);
}

.rm-container.rm-in .rm-wrapper {
  -webkit-transform: translateZ(-500px);
  transform: translateZ(-500px);
}

.rm-container.rm-in .rm-cover,
.rm-container.rm-in .rm-right,
.rm-container.rm-nodelay .rm-right {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.rm-container.rm-in .rm-modal {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  opacity: 1;
  pointer-events: auto;
}

/* Fallback (similar to last media query) */

.no-csstransforms3d .rm-container {
  width: 100%;
  height: auto;
  max-width: 460px;
}
.no-csstransforms3d .rm-wrapper,
.no-csstransforms3d .rm-wrapper > div,
.no-csstransforms3d .rm-wrapper > div > div {
  position: relative;
  width: 100%;
  height: auto;
}

.no-csstransforms3d .rm-wrapper > div > div {
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 16px #fff, inset 0 0 0 17px #e6b741,
    inset 0 0 0 18px #fff, inset 0 0 0 19px #e6b741, inset 0 0 0 20px #fff,
    inset 0 0 0 21px #e6b741, 0 3px 5px rgba(0, 0, 0, 0.2);
}

.no-csstransforms3d .rm-container .rm-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.no-csstransforms3d .rm-overlay,
.no-csstransforms3d .rm-middle .rm-overlay {
  display: none;
}

.no-csstransforms3d .rm-right .rm-front {
  display: none;
}

.no-csstransforms3d .rm-button-open {
  pointer-events: none;
}

.no-csstransforms3d .rm-button-open:after {
  content: '\2193';
}

.no-csstransforms3d .rm-modal {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -40%;
  -webkit-transition: opacity 0.6s ease-in-out 0s;
  transition: opacity 0.6s ease-in-out 0s;
}

.no-csstransforms3d .rm-container.rm-in .rm-cover,
.no-csstransforms3d .rm-container.rm-in .rm-right,
.no-csstransforms3d .rm-container.rm-in .rm-wrapper {
  /* -webkit-transform: rotateY(0deg);
	-webkit-transition-delay: 0s;
	transform: rotateY(0deg);
	transition-delay: 0s; */
}

/* DEMO DEMO START */

/* General Demo Style */

body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 13px;
  /* background: rgba(23, 23, 23, 0.538); */
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 300;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  transition: background-color 0.3s ease;
}

.vegan {
  color: rgb(209, 255, 209);
  font-style: italic;
}

.price {
  font-style: italic;
}

.language-highlight {
  font-style: italic;
}

.dark-mode {
  background-color: rgb(77, 22, 22);
}

a {
  color: green;
  text-decoration: none;
  font-size: large;
}

strong {
  font-weight: 500;
}

.container {
  width: 100%;
  position: relative;
}

.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}

.main {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.container > header {
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container > header h1 {
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Arvo', Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.container > header h2 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 15px 30px 10px;
  color: #f0f0f0;
  width: 75%;
  margin: 0 auto;
}

.container > header h2 a {
  color: #fff;
}

.container > header h2 a:hover {
  color: #e6b741;
}

/* Header Style */

.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.codrops-top:before,
.codrops-top:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.codrops-top:after {
  clear: both;
}

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.6);
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.support-note span,
.demo-note {
  color: #e07870;
  font-size: 16px;
  display: none;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions {
  display: block;
}

@media screen and (max-width: 960px) {
  .demo-note {
    display: block;
  }
}

/* DEMO DEMO END */

/* Media Queries */

@media screen and (max-width: 1110px) {
  .rm-container {
    height: 800px;
  }
}

@media screen and (max-width: 960px) {
  .rm-container {
    width: 100%;
    height: auto;
    max-width: 460px;
    -webkit-perspective: 0px;
    perspective: 0px;
  }
  .rm-wrapper,
  .rm-wrapper > div,
  .rm-wrapper > div > div {
    position: relative;
    width: 100%;
    height: auto;
  }

  .rm-wrapper > div > div {
    /* border: 2px solid red; */
    margin-bottom: 10px;
    /* box-shadow: 
			inset 0 0 0 16px #fff, 
			inset 0 0 0 17px #a78122, 
			inset 0 0 0 18px #fff, 
			inset 0 0 0 19px #79601f, 
			inset 0 0 0 20px #fff, 
			inset 0 0 0 21px #e68e41,
			0 3px 5px rgba(0,0,0,0.2); */

    outline: 3px dashed rgba(59, 35, 11, 0.6);
    outline-offset: -15px;
    border-radius: 5px;
  }

  .rm-container .rm-back,
  .rm-container.rm-open .rm-cover,
  .rm-container.rm-open .rm-right,
  .rm-container.rm-open .rm-middle {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .rm-overlay,
  .rm-middle .rm-overlay {
    background: transparent;
  }

  .rm-right .rm-front,
  .rm-close {
    display: none;
  }

  .rm-button-open {
    pointer-events: none;
  }

  .rm-button-close1 {
    pointer-events: none;
  }

  .rm-button-open2 {
    pointer-events: none;
  }

  .rm-button-open:after {
    content: '\2193';
  }

  .rm-container .rm-modal {
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -40%;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transition: opacity 0.6s ease-in-out 0s;
    transition: opacity 0.6s ease-in-out 0s;
  }

  .rm-container.rm-in .rm-cover,
  .rm-container.rm-in .rm-right,
  .rm-container.rm-in .rm-wrapper,
  .rm-container.rm-in .rm-middle {
    -webkit-transform: rotateY(0deg);
    -webkit-transition-delay: 0s;
    transform: rotateY(0deg);
    transition-delay: 0s;
  }

  .rm-wrapper .rm-middle,
  .rm-wrapper .rm-right {
    pointer-events: all;
  }
}

@media screen and (max-width: 500px) {
  .shopping-cart {
    width: 64vw;
  }
}

/* NORMALIZE */

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
  * Corrects inline-block display not defined in IE6/7/8/9 & FF3
  */

audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}

/*
  * Prevents modern browsers from displaying 'audio' without controls
  * Remove excess height in iOS5 devices
  */

audio:not([controls]) {
  display: none;
  height: 0;
}

/*
  * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
  * Known issue: no IE6 support
  */

[hidden] {
  display: none;
}

/* =============================================================================
    Base
    ========================================================================== */

/*
  * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
  *    http://clagnut.com/blog/348/#c790
  * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
  *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
  */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/*
  * Addresses font-family inconsistency between 'textarea' and other form elements.
  */

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
  * Addresses margins handled incorrectly in IE6/7
  */

body {
  margin: 0;
}

/* =============================================================================
    Links
    ========================================================================== */

/*
  * Addresses outline displayed oddly in Chrome
  */

a:focus {
  outline: thin dotted;
}

/*
  * Improves readability when focused and also mouse hovered in all browsers
  * people.opera.com/patrickl/experiments/keyboard/test
  */

a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
    Typography
    ========================================================================== */

/*
  * Addresses font sizes and margins set differently in IE6/7
  * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
  */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
  * Addresses styling not present in IE7/8/9, S5, Chrome
  */

abbr[title] {
  border-bottom: 1px dotted;
}

/*
  * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
 */

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
  * Addresses styling not present in S5, Chrome
  */

dfn {
  font-style: italic;
}

/*
  * Addresses styling not present in IE6/7/8/9
  */

mark {
  background: #ff0;
  color: #000;
}

/*
  * Addresses margins set differently in IE6/7
  */

p,
pre {
  margin: 1em 0;
}

/*
  * Corrects font family set oddly in IE6, S4/5, Chrome
  * en.wikipedia.org/wiki/User:Davidgothberg/Test59
  */

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
  * Improves readability of pre-formatted text in all browsers
  */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
  * 1. Addresses CSS quotes not supported in IE6/7
  * 2. Addresses quote property not supported in S4
  */

/* 1 */

q {
  quotes: none;
}

/* 2 */

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
  * Prevents sub and sup affecting line-height in all browsers
  * gist.github.com/413930
  */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
    Lists
    ========================================================================== */

/*
  * Addresses margins set differently in IE6/7
  */

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
  * Addresses paddings set differently in IE6/7
  */

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
  * Corrects list images handled incorrectly in IE7
  */

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
    Embedded content
    ========================================================================== */

/*
  * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
  * 2. Improves image quality when scaled in IE7
  *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
  */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/*
  * Corrects overflow displayed oddly in IE9
  */

svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
    Figures
    ========================================================================== */

/*
  * Addresses margin not present in IE6/7/8/9, S5, O11
  */

figure {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

/* =============================================================================
    Forms
    ========================================================================== */

/*
  * Corrects margin displayed oddly in IE6/7
  */

form {
  margin: 0;
}

/*
  * Define consistent border, margin, and padding
  */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
  * 1. Corrects color not being inherited in IE6/7/8/9
  * 2. Corrects text not wrapping in FF3
  * 3. Corrects alignment displayed oddly in IE6/7
  */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  margin-left: -7px; /* 3 */
}

/*
  * 1. Corrects font size not being inherited in all browsers
  * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
  * 3. Improves appearance and consistency in all browsers
  */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  vertical-align: middle; /* 3 */
}

/*
  * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
  */

button,
input {
  line-height: normal; /* 1 */
}

/*
  * 1. Improves usability and consistency of cursor style between image-type 'input' and others
  * 2. Corrects inability to style clickable 'input' types in iOS
  * 3. Removes inner spacing in IE7 without affecting normal text inputs
  *    Known issue: inner spacing remains in IE6
  */

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer; /* 1 */
  -webkit-appearance: button; /* 2 */
  overflow: visible; /* 3 */
}

/*
  * Re-set default cursor for disabled elements
  */

button[disabled],
input[disabled] {
  cursor: default;
}

/*
  * 1. Addresses box sizing set to content-box in IE8/9
  * 2. Removes excess padding in IE8/9
  * 3. Removes excess padding in IE7
       Known issue: excess padding remains in IE6
  */

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  height: 13px; /* 3 */
  width: 13px; /* 3 */
}

/*
  * 1. Addresses appearance set to searchfield in S5, Chrome
  * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
  */

input[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/*
  * Removes inner padding and search cancel button in S5, Chrome on OS X
  */

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
  * Removes inner padding and border in FF3+
  * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
  */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
  * 1. Removes default vertical scrollbar in IE6/7/8/9
  * 2. Improves readability and alignment in all browsers
  */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/* =============================================================================
    Tables
    ========================================================================== */

/*
  * Remove most spacing between table cells
  */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Addition */
/* Apply a natural box layout model to all elements */
/* Read this post by Paul Irish: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
